
/* common */

body {
	background: #fff;
	color: #000;
}

.header {
	background: #abc;
	font-size: x-large;
}

.caption {
	background: #babaab;
}

.content {
}

.footer {
	margin-top: 200px;
	background: #abc;
}



/* letters.jsp */

.letters_caption {
	margin-right: 10px;
	float: left;
}

.letters {
	background: #abcdef;
}
.letter {
	margin-right: 10px;
	float: left;
}
.last_letter {
	margin-right: 10px;
}



/* error.jsp */

.error_no {
	background: #cd4567;
	color: #fff;
}

.error_message {
	background: #cd4567;
	color: #fff;
}



/* message.jsp */

.message_information_text {
	background: #3f6;
}

.message_warning_text {
	background: #880;
}

.message_error_text {
	background: #e33;
}



/* artists.jsp */

.artist_discography_album_1 {
}

.artist_discography_album_2 {
	background: #eee;
}



/* artist.jsp */

.artist_name {
}

.artist_pic {
	margin-right: 10px;
	float: left;
}

.artist_pic_img {
	width: 150px;
}

.artist_info {
}

.artist_discography {
}

.artist_discography_album_1 {
}

.artist_discography_album_2 {
	background: #eee;
}

.artist_check_all {
	margin-top: 30px;
}



/* album.jsp */

.album_artist_name {
}

.album_title {
}

.album_pic {
}

.album_pic_img {
	width: 150px; height: 150px;
}

.album_releaseDate {
}

.album_buy {
}

.album_tracklist {
}

.album_tracklist_track_1 {
}

.album_tracklist_track_2 {
	background: #eee;
}

.album_check_all {
	margin-top: 20px;
}


/* cart.jsp */

.cart_items_albums {
}

.cart_items_tracks {
	margin-top: 20px;
}

.cart_items {
}

.cart_item_1 {
}

.cart_item_2 {
	background: #eee;
}

.total_price {
	margin-top: 20px;
}

.remove_selected_divbutton {
	margin-top: 20px;
}

.remove_all_divbutton {
	margin-top: 20px;
}

.buy_divbutton {
	margin-top: 20px;
}
